<!DOCTYPE html>
<html >
    <head>
        <title> ZOTERO SERVER </title>

        <META HTTP-EQUIV="Pragma" CONTENT="no-cache"><META HTTP-EQUIV="Expires" CONTENT="-1"> 

        <style type="text/css">
        h1 {color:red;}
        p {color:blue;}
        
        
        a:link { color:#33348e; text-decoration: none; }
        a:visited { color:#33348e; text-decoration: none; }
        a:hover { color:#33348e; text-decoration: none; }
        a:active { color:#7476b4; text-decoration: underline; }

        A:hover {
         COLOR: green /*The color of the mouseover or 'hover' link*/
        }
                
        </style>

        <SCRIPT LANGUAGE=JavaScript>
        function now(){
            window.location.reload(true);
        }
        </SCRIPT>



    </head>

    <body>
    
    <h1> ZOTERO XYZ SERVER </h1>

    <h3>{{subtitle}}</h3>
    <h2><a href="/{{backlink}}">{{backlink}}</a></h2>


    *<a href="/items">Items</a><br />
    *<a href="/tags">Tags</a><br />
    *<a href="/collections">Browser Collections</a><br />
    *<a href="/all_collections">Browser All Collections</a><br />
    *<a href="/status">Server Status</a><br />
    *<a href="/help">Help</a>
    <!--<hr size=10 width=40%>-->
    <hr width=35% color="black" align="left" >
    <br /><br />

    {{!content}}
    

    </body>

</html>    
